*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: yellowgreen;
    color: black;
    /*background-image: url(Background.jpg);
    background-image: url(../Images/background.png);
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    background-size: 1000px 800px;
    background-position: right top;*/
}
#header{
    width : 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 0px 10%;
}
nav{
    display: flex;
    align-items: center ;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: larger;
    position: relative;
}
nav ul li a::after{
    content: '';
    width : 0;
    height: 3px;
    position: absolute;
    background-color: crimson;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color : crimson
}
/* about*/
#about{
    padding: 80px 0;
    color:black;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 25px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: aliceblue;
}
/* Services */
#Services{
    padding: 30px 0;

}
.service-list{
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    margin-top: 50px ;
    grid-gap: 40px;
}
.service-list div{
    background: rgb(131, 118, 118);
    padding: 60px;
    font-size: 30px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    
}
.service-list div h3{
    margin-bottom:25px;
}
.service-list div a{
    text-decoration: underline;
    color: aliceblue;
    font-size: 12px;
    margin-top: 15px;
    display: inline-block;
}
.service-list :hover{
    background: crimson;
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;
}
.worklist{
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    margin-top: 50px ;
    grid-gap: 40px;
}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 20px;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), crimson);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items:center ;
    justify-content:center ;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}
.layer h3{
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:crimson;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: crimson;
    margin-right: 15px;
    font-size: 30px;
}
.social-icons{
    margin-top: 30px;
    margin-right: 5px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color: aliceblue;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: crimson;
    transform: translateY(-5px);
}
.btn{
    display: block;
    color: crimson;
    text-decoration: none;
    height: 30px;
    width:150px;
    background-color: crimson;
    color: #fff;
    padding: 5px 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    text-align: center;

}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 2px;
    outline: auto;
    background: #262626;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px;
    color: aliceblue;
    margin: 15px 0;
}
form .btn{
    cursor: pointer;
}